<html>
  <head>
  </head>
  <body>
    <button type="button"><a href="/">Home</a></button>
    <button type="button"><a href="/wallet">Wallet</a></button>
    <button type="button"><a href="/converter">Converter</a></button>
	<h1>Last USD Price in BTC</h1>
	<h2><%= lastPrice %></h2>
  </body>
</html>