    <button type="button"><a href="/">Home</a></button>
    <button type="button"><a href="/wallet">Wallet</a></button>
    <button type="button"><a href="/converter">Converter</a></button>
     <h1>Creat brain wallet</h1>
	<form method="POST" action="/wallet">
		<input type="text" name="brainsrc">
		<input type="submit" value="Go">
	</form>
	
	<h3>Last USD =<%= lastPrice %></h3>